<div class="details-tab-content" ">

    <br/>
    <dl>

        <dt>Description</dt>
        <dd>
            {{#if paragraphs}}
                {{#join paragraphs "<br/><br/>"}}
                    <span>{{.}}</span>
                {{/join}}
            {{else}}
                <span>{{description}}</span>
            {{/if}}
        </dd>
    </dl>
    <dl>
        <dt>Version</dt>
        <dd>
            {{version}}
        </dd>
    </dl>
    <dl>
        <dt>State</dt>
        <dd>
            {{state}}
        </dd>
    </dl>
    <dl>
        <dt>Dependencies</dt>
        <dd>
            {{#if parents}}
                {{#join parents "<br/>"}}
                    <span>{{.}}</span>
                {{/join}}
            {{else}}
               None
            {{/if}}
        </dd>
    </dl>
    <dl>
        <dt>Applications which depend on {{displayName}}</dt>
        <dd>
            {{#if dependencies}}
                {{#join dependencies "<br/>"}}
                    <span>{{.}}</span>
                {{/join}}
            {{else}}
                None
            {{/if}}
        </dd>
    </dl>

</div>