{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="if-editing">
    <input id="{{cid}}" value="{{value}}" placeholder="{{property.placeholder}}" name="{{property.id}}">
    <div class="for-error">
        <div class="error-form">
            <span class="fa fa-exclamation-triangle"></span>
            Malformed WKT.
        </div>
        <div class="error-ordering">
            <span class="fa fa-exclamation-triangle"></span>
            Invalid lon / lat coordinates.
        </div>
    </div>
</div>
<div class="if-viewing">
    <label>
        {{value}}
    </label>
    <div class="for-error">
        <div class="error-form">
            <span class="fa fa-exclamation-triangle"></span>
            Malformed WKT.
        </div>
        <div class="error-ordering">
            <span class="fa fa-exclamation-triangle"></span>
            Invalid lon / lat coordinates.
        </div>
    </div>
</div>