{{!--
/**
* Copyright (c) Codice Foundation
*
* This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
* version 3 of the License, or any later version.
*
* This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
* <http://www.gnu.org/licenses/lgpl.html>.
*
**/
--}}
<div class="file-info-area">
    <div class="btn btn-danger btn-xs remove-upload">
        <i class="fa fa-times remove-upload"></i>
    </div>
    File: {{name}}
</div>
<div class="ingest-upload-buttons">
    {{#is state 'start'}}
        <div class="label label-default">
            Not Uploaded
        </div>
    {{/is}}
    {{#is state 'failed'}}
        <div class="label label-danger" data-toggle="tooltip" data-placement="left" title="{{error}}">
            Error!
        </div>
    {{/is}}
    {{#is state 'uploading'}}
        <div class="uploadProgressBar">
            <span class="progress-percent-text">{{progress}}%</span> <i class="fa fa-spinner fa-spin"></i>
        </div>
    {{/is}}
    {{#is state 'done'}}
        <div class="label label-success">
            Success!
        </div>
    {{/is}}
</div>
{{#is state 'uploading'}}
<div class="file-progress-area">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
        </div>
    </div>
</div>
{{/is}}