{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<li id="{{appId}}">
    <a href="#" class="fa fa-minus-circle fa-lg {{#isnt children.length 0}}fa-minus-circle-disabled{{/isnt}} {{#is removeFlag true}}fa-minus-circle-selected{{/is}}" id="{{appId}}-delete-icon" name="removeFlag"></a>
    <input type="checkbox" class="appitem" id="{{appId}}cb" name="selected" {{#is selected true}}checked{{/is}}>
    <span id="{{appId}}txt" class="appitem">{{displayName}}</span>&nbsp;&nbsp;<span class="version-text">{{version}}</span>
</li>
