{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="if-editing">
    <div class="enum-region">

    </div>
</div>
<div class="if-viewing">
    <label class="value-list-header" data-help="This indicates there are multiple values for this attribute among the results.">
        (Multiple Values)
    </label>
    <div class="value-list is-list {{#if isThumbnail}}is-thumbnail{{/if}}">
        {{#each values}}
            <div class="list-value {{#if hasNoValue}}hasNoValue{{/if}}" data-ids="{{this.ids}}">
                <div class="cell-value">
                {{#if ../isThumbnail}}
                    {{#each value}}
                        <div class="value-subvalue" title="{{this}}">
                            {{#unless ../hasNoValue}}
                                <img src="{{this}}">
                            {{else}}
                                {{this}}
                            {{/unless}}
                        </div>
                    {{/each}}
                {{else}}
                    {{#each value}}
                        <div class="value-subvalue" title="{{this}}">
                            {{#ifUrl this}}
                                <a href="{{this}}" target="_blank">{{this}}</a>
                            {{else}}
                                {{this}}
                            {{/ifUrl}}
                        </div>
                    {{/each}}
                {{/if}}
                </div>
                <span class="cell-hits" title="{{hits}} result(s) have this value" data-help="This number represents how many results have this value.">({{this.hits}})</span>
                <span class="cell-validation fa fa-exclamation-triangle is-hidden"></span>
            </div>
        {{/each}}
    </div>
</div>
<div class="if-homogeneous if-other">
    <div class="input-other">

    </div>
</div>