{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="input-label">
    <span class="input-validation fa fa-exclamation-triangle is-hidden"></span>
    <label for="{{cid}}">
        {{label}}
        {{#unless label}}
            {{id}}
        {{/unless}}
    </label>
    <span class="input-validation fa fa-exclamation-triangle is-hidden"></span>
</div>
<div class="input-value">
    <div class="input-edit">
        <select>
            <option value="" selected data-bulkDefault>
                Multiple Values
            </option>
            {{#each values}}
                <option value="{{this.value}}">
                    {{this.value}} <span>({{this.hits}})</span>
                </option>
            {{/each}}
            <option value="" data-bulkCustom>
                Other
            </option>
        </select>
        <span class="fa fa-undo input-revert is-button"></span>
        <div class="input-other">

        </div>
    </div>
    <div class="input-view">
        <label class="value-list-header">
            (Multiple Values)
        </label>
        <div class="value-list is-list">
            {{#each values}}
                <div class="list-value">
                    <span class="cell-value">{{this.value}}</span>
                    <span class="cell-hits">({{this.hits}})</span>
                    <span class="value-validation"></span>
                </div>
            {{/each}}
        </div>
    </div>
</div>