{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div id="metrics-region">
    <table class="table table-striped">
        <tr>
            <th>Metric</th>
            {{#each this.catalogExceptions}}
                <th>{{@key}}</th>
            {{/each}}
        </tr>
        {{#each this}}
            {{#unless this.intervals}}
                <tr>
                    <td>{{titleizeCamelCase @key}}</td>
                    {{#each this}}
                        <td class="metrics-download">
                            {{#each this}}
                                <a target="_blank" href="{{this}}">{{@key}}</a>
                            {{/each}}
                        </td>
                    {{/each}}
                </tr>
            {{/unless}}
        {{/each}}
    </table>
    <a href="{{this.summaryParams.download}}">Download</a>
    a report for the last
    <select name="range">
        {{#each this.summaryParams.ranges}}
            <option value="{{this}}">{{titleizeCamelCase this}}</option>
        {{/each}}
    </select>
    complete
    <select name="unit">
        {{#each this.summaryParams.units}}
            <option value="{{this}}">{{titleizeCamelCase this}}s</option>
        {{/each}}
    </select>
    summarized by
    <select name="interval">
        {{#each this.summaryParams.intervals}}
            <option value="{{this}}">{{titleizeCamelCase this}}</option>
        {{/each}}
    </select>
    .
</div>