<div class='{{id}} metatype control-group'>
    <label class='control-label' for='{{id}}'>{{name}}</label>
    <div class='controls'>
        <input type='number' class='{{id}} metatype' name='{{id}}' id='{{id}}' value='{{#defaultValue}}{{.}}{{/defaultValue}}'>
        {{#if description}}
            <a href='#' class='description' data-title='{{id}}'>
                <i class='glyphicon glyphicon-question-sign'></i>
            </a>
        {{/if}}
    </div>
</div>