{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
{{#if hasMetacardValidation}}
    <h4 align="center">Metacard Validation Issues</h4>
    <table>
        <thead>
        <th>
            Attribute
        </th>
        <th>
            Severity
        </th>
        <th>
            Message
        </th>
        </thead>
        <tbody>
        {{#each metacardValidation}}
            <tr>
                <td>
                    {{#each attributes}}
                        <div>
                            {{this}}
                        </div>
                    {{/each}}
                </td>
                <td>
                    {{severity}}
                </td>
                <td>
                    {{{message}}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <h4 align="center">No Metacard Validation Issues to Report</h4>
{{/if}}
{{#if hasAttributeValidation}}
    <h4 align="center">Attribute Validation Issues</h4>
    <table>
        <thead>
        <th>
            Attribute
        </th>
        <th>
            Warnings
        </th>
        <th>
            Errors
        </th>
        </thead>
        <tbody>
        {{#each attributeValidation}}
            <tr>
                <td>
                    {{attribute}}
                </td>
                <td>
                    {{#each warnings}}
                        <div>
                            {{this}}
                        </div>
                    {{/each}}
                </td>
                <td>
                    {{#each errors}}
                        <div>
                            {{this}}
                        </div>
                    {{/each}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{else}}
    <h4 align="center">No Attribute Validation Issues to Report</h4>
{{/if}}
