{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
    <thead>
        <tr>
            <th>User</th>
            <th>Query</th>
            <th>Start Time</th>
            <th>Source</th>
            <th class="stop-column">Stop<i class="glyphicon glyphicon-question-sign" data-toggle="stop-popover"></i></th>
        </tr>
    </thead>
    <tbody class="usertabledata">
    {{#each users}}
        <tr>
            <td>{{user}}</td>
            <td>{{query}}</td>
            <td>{{dateStarted}}</td>
            <td>{{sourceId}}</td>
            <td class="stop-column"><a href="#" class="glyphicon glyphicon-remove" style="text-decoration:none;" name={{uuid}}></a></td>
        </tr>
    {{/each}}
    </tbody>