{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="resultSelector-menu">
    <div class="resultSelector-menu-action">
        <span class="fa fa-filter">

        </span>
        <span class="resultSelector-menu-action-descriptor">
             Filter
        </span>
    </div>
    <div class="resultSelector-menu-action">
        <span class="fa fa-long-arrow-up">

        </span>
        <span class="fa fa-long-arrow-down">

        </span>
        <span class="resultSelector-menu-action-descriptor">
             Sort
        </span>
    </div>
    <div class="resultSelector-menu-action">
        <span class="fa fa-bars">

        </span>
        <span class="resultSelector-menu-action-descriptor">
             List
        </span>
        <span class="fa fa-caret-down">

        </span>
    </div>
    <div class="resultSelector-menu-action">
        <span class="fa fa-cog">

        </span>
    </div>
</div>
<div class="resultSelector-result resultSelector-result-example">
    <div class="result-details">
        <div class="detail-title">
            <span>
                Title
            </span>
        </div>
        <div class="detail-source">
            <span>
                Source
            </span>
        </div>
        <div class="detail-lastModified">
            <span>
                Last Modified
            </span>
        </div>
    </div>
    <div class="result-validation">
        <span>

        </span>
    </div>
</div>
<div class="resultSelector-list is-list">
    {{#each this}}
            <div class="resultSelector-result is-button" data-metacard-id="{{id}}" data-index="{{@key}}"
                 data-query-id="{{metacard.queryId}}">
                <div class="result-details">
                    <div class="detail-title">
                        <span>
                            {{metacard.properties.title}}
                        </span>
                    </div>
                    <div class="detail-source">
                        {{#if local}}
                            <span class="fa fa-home">

                            </span>
                        {{else}}
                            <span class="fa fa-cloud">

                            </span>
                            <span>
                                {{metacard.properties.source-id}}
                            </span>
                        {{/if}}
                    </div>
                    <div class="detail-lastModified">
                        <span>
                            {{niceDiff}}
                        </span>
                    </div>
                </div>
                <div class="result-validation">
                    {{#if hasError}}
                        <span class="fa fa-exclamation-triangle resultError">

                        </span>
                    {{else if hasWarning}}
                        <span class="fa fa-exclamation-triangle resultWarning">

                        </span>
                    {{/if}}
                </div>
            </div>
    {{/each}}
</div>