{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h6 align="center">Results</h6>

<div class="resultSelector-result">
    <div class="resultSelector-resultTitle">
        <span>
            Title
        </span>
    </div>
    <div class="resultSelector-resultSource">
        <span>
            Source
        </span>
    </div>
    <div class="resultSelector-resultLastModified">
        <span>
            Last Modified
        </span>
    </div>
</div>
<div class="resultSelector-list is-list">
    {{#each this}}
        <div class="resultSelector-result is-button" data-metacardId="{{id}}" data-queryId="{{queryId}}">
            <div class="resultSelector-resultTitle">
                <span>
                    {{properties.title}}
                </span>
            </div>
            <div class="resultSelector-resultSource">
                <span>
                    {{properties.source-id}}
                </span>
            </div>
            <div class="resultSelector-resultLastModified">
                <span>
                    {{properties.modified}}
                </span>
            </div>
        </div>
    {{/each}}
</div>