{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h5 align="center">{{metacard.properties.title}}</h5>
<div class="metacardBasic-row">
    <div class="metacardBasic-property">
        <label>
            Created
        </label>
        <div>
            {{metacard.properties.created}}
        </div>
    </div>
    <div class="metacardBasic-property">
        <label>
            Modified
        </label>
        <div>
            {{metacard.properties.modified}}
        </div>
    </div>
</div>
<div class="metacardBasic-row">
    <div class="metacardBasic-property">
        <label>
            Content Type
        </label>
        <div>
            {{metacard.properties.metadata-content-type}}
        </div>
    </div>
    <div class="metacardBasic-property">
        <label>
            Item Size
        </label>
        <div>
            {{metacard.properties.resource-size}} mb
        </div>
    </div>
</div>
<div class="metacardBasic-row full">
    <div class="metacardBasic-property">
        <img class='thumbnail' alt='{{metacard.properties.title}}' src='data:image/jpeg;charset=utf-8;base64, {{metacard.properties.thumbnail}}' />
    </div>
</div>