{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
{{#if hasPrevious}}
    <li>
        {{#if busy}}
            <a id="previousStep" class="disabled-previous" href="#" >&larr; Previous</a>
        {{else}}
            <a id="previousStep" class="previous" href="#" >&larr; Previous</a>
        {{/if}}
    </li>
{{/if}}
{{#if hasNext}}
    {{#ifNotAnd hasPrevious}}
        <li>
            {{#if busy}}
                <a id="startStep" class="disabled-next" href="#">Start &rarr;</a>
            {{else}}
                <a id="startStep" class="next" href="#">Start &rarr;</a>
            {{/if}}
        </li>
    {{else}}
        <li>
            {{#if busy}}
                <a id="nextStep" class="disabled-next" href="#">Next &rarr;</a>
            {{else}}
                <a id="nextStep" class="next" href="#">Next &rarr;</a>
            {{/if}}
        </li>
    {{/ifNotAnd}}
{{else}}
    <li>
        {{#if busy}}
            <a id="finishStep" class="disabled-next" href="#">Finish</a>
        {{else}}
            <a id="finishStep" class="next finish" href="#">Finish</a>
        {{/if}}
    </li>
{{/if}}