{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
                {{#is mode 'edit'}}
                    Edit:  {{name}}
                {{else}}
                    Add Source
                {{/is}}
            </h4>
        </div>
        <div class="modal-organization container-fluid">
        </div>
        <div class="modal-body">
            <form class="form-horizontal add-federated-source container-fluid">
                <fieldset>
                    <div class="sourceName"></div>
                    <div class="bound-controls">
                        <div class="control-group">

                            <select class="form-control input-sm activeBindingSelect"></select>

                        </div>
                        <div class="modal-details"></div>
                    </div>
                </fieldset>
            </form>

            <label class="control-label2 container-fluid">Binding Configurations:</label>
            <div class="modal-accordions container-fluid">
            </div>
            <label class="control-label2  container-fluid">Reports:</label>
            <div class="modal-reports container-fluid">
                {{#if reportActions}}
                    <ul class="report-list">
                        {{#each reportActions}}
                            <li>
                                <a href="{{url}}" target="_blank">{{title}}</a>
                            </li>
                        {{/each}}
                    </ul>

                {{else}}
                    <label>No reports available for this source</label>
                {{/if}}
            </div>
            <label class="control-label2 container-fluid">Operations:</label>
            <div class="modal-operations container-fluid">
                {{#if operationActions}}
                    <ul class="operation-list">
                        {{#each operationActions}}
                            <li class="action-item">
                                <a id="{{id}}{{@index}}" href="#" class="operation-action" action-id="{{id}}" action="{{url}}">{{title}}</a>
                                <i id="{{id}}{{@index}}-spinner" class="op-status fa fa-spinner fa-pulse fa-spin"></i>
                                <i id="{{id}}{{@index}}-success" class="op-status op-success fa  fa-check-circle" aria-hidden="true"></i>
                                <i id="{{id}}{{@index}}-failed" class="op-status op-failed fa fa-exclamation-circle" aria-hidden="true">Error performing operation</i>
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <label>No operations available for this source</label>
                {{/if}}
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-group">
                {{#is mode 'edit'}}
	                <button type="button" class="btn btn-primary submit-button">Save</button>
                {{else}}
	                <button type="button" class="btn btn-primary submit-button">Add</button>
                {{/is}}
                <button type="button" class="btn btn-default cancel-button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
