{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="node-field">
    <label>{{name}}{{#if required}}*{{/if}}</label>
    {{#unless custom}}
        <a href='#' class='description' data-title='{{key}}'>
            <i class='fa fa-question-circle fa-lg'></i>
        </a>
    {{/unless}}
    {{#if multiValued}}
        <a href="#" class="add-value fa fa-plus-square fa-lg plus-button"></a>
    {{/if}}
    {{#if custom}}
        <a href="#" class="remove-field fa fa-minus-square fa-lg minus-button"></a>

    {{/if}}
    <div class="input-area">
        {{#is type "string"}}
            {{#if multiValued}}
                <table class="multi-value-field">
                    {{#each value}}
                        <tr>
                            <td>
                                <input type="text" class="string-table-input {{../key}}
                                    {{#if ../validationError}}
                                        {{#each ../../errorIndices}}
                                            {{#is @../index this}}validation-error{{/is}}
                                        {{/each}}
                                    {{/if}}"
                                       name="value{{@index}}" value="{{this}}" {{#unless ../../editable}}readonly{{/unless}}/>
                            </td>
                            <td>
                                <a href="#" name="{{@index}}"
                                   class="remove-value fa fa-minus-square fa-lg minus-button"></a>
                            </td>
                        </tr>
                    {{/each}}
                </table>
            {{else}}
                {{#if possibleValues}}
                    <select name="value">
                        {{#each possibleValues}}
                            <option {{#is this ../value}}selected{{/is}}>{{this}}</option>
                        {{/each}}
                    </select>
                {{else}}
                    <input type="text" class="string-input {{key}}  {{#if validationError}}validation-error{{/if}}" name="value" value="{{value}}" {{#unless editable}}readonly{{/unless}}/>
                {{/if}}
            {{/if}}
        {{/is}}
        {{#is type "number"}}
            <input type="number" class="{{#if validationError}}validation-error{{/if}}" name="value" value="{{value}}" {{#unless editable}}readonly{{/unless}}/>
        {{/is}}
        {{#is type "boolean"}}
            <input type="checkbox" name="value" value="{{value}}"/>
        {{/is}}
        {{#is type "date"}}
            <input type="date" name="valueDate" value="{{valueDate}}" {{#unless editable}}readonly{{/unless}}/>
            <input type="time" name="valueTime" value="{{valueTime}}" {{#unless editable}}readonly{{/unless}}/>
        {{/is}}
        {{#is type "time"}}
            <input type="datetime" name="value" value="{{value}}" {{#unless editable}}readonly{{/unless}}/>
        {{/is}}
        {{#is type "point"}}
            <div class="coords">
                <label>Lat:</label><input class="lat-lon-input" type="number" min="-90" max="90" name="valueLat" class="{{#if validationError}} validation-error{{/if}}"
                                          value="{{valueLat}}"/>
                <label>Lon:</label><input class="lat-lon-input" type="number" min="-180" max="180" name="valueLon" class="{{#if validationError}} validation-error{{/if}}"
                                          value="{{valueLon}}"/>
            </div>
        {{/is}}
        {{#if validationError}}
            <div class="error-div">
                <label class="validation-error-text">{{validationError}}</label>
            </div>
        {{/if}}
    </div>
</div>