{{#if showHeader}}
<div class="segment-header">
    <table>
        <tr>
            <td>
                <label class="nested-label{{nestedLevel}}">{{segmentName}}</label>
            </td>
            {{#if multiValued}}
                <td>
                    {{#if autoValues}}
                        <select class="auto-populate-selector">
                            <option id="empty" >Empty</option>
                            {{#each autoValues}}
                                <option id="{{this.id}}" value="{{this.name}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    {{/if}}
                    <a href="#" class="button-icon add-segment fa fa-lg fa-plus-square" aria-hidden="true"></a>
                </td>
            {{/if}}
        </tr>
    </table>
</div>
{{/if}}