<div class="if-editing">
    <input type="text" class="text"/>
    <span class="param-label">{{label}}</span>
    <input type="number" class="param" data-help="{{help}}"/>
</div>
<div class="if-viewing">
    <span class="text">{{text}}</span>
    <span class="param-label">{{label}}</span>
    <span class="param">{{param}}</span>
</div>