{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<td>
    {{id}}
    {{#if hasReturned}}
        {{#unless successful}}
            <span class="fa fa-warning" title="{{messages}}"></span>
        {{/unless}}
    {{/if}}
</td>
<td>
    {{#if anyHasReturned}}
        {{top}}
    {{/if}}
    {{#if hasReturned}}
        {{#unless successful}}
            <span class="fa fa-warning" title="{{messages}}"></span>
        {{/unless}}
    {{/if}}
    {{#if anyHasNotReturned}}
        <span class="fa fa-circle-o-notch fa-spin" title="Waiting for source to return"></span>
    {{/if}}
</td>
<td>
    {{#if hasReturned}}
        {{#if successful}}
            {{hits}}
        {{else}}
            <span class="fa fa-warning" title="{{messages}}"></span>
        {{/if}}
    {{else}}
        <span class="fa fa-circle-o-notch fa-spin" title="Waiting for source to return"></span>
    {{/if}}
</td>
<td>
    {{#if hasReturned}}
        {{#if successful}}
            {{elapsed}}
        {{else}}
            <span class="fa fa-warning" title="{{messages}}"></span>
        {{/if}}
    {{else}}
        <span class="fa fa-circle-o-notch fa-spin" title="Waiting for source to return"></span>
    {{/if}}
</td>
<td class="status-filter">
    <button class="is-button is-primary in-text" title="Locally filter results to this source only.">
        <span class="fa fa-filter"></span>
    </button>
</td>