<div>
    <div class="systemInfo">
        <h3>System</h3>
        <table id="systeminformation-table" class="table table-striped" role="grid">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Last Started</td>
                    <td>{{startTime}}</td>
                </tr>
                <tr>
                    <td>Uptime</td>
                    <td>{{uptime}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h3>Java</h3>
        <table id="javainformation-table" class="table table-striped" role="grid">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Java Runtime</td>
                    <td>{{runtime}} (build {{runtimeVersion}})</td>
                </tr>
                <tr>
                    <td>Java Virtual Machine</td>
                    <td>{{systemInformation.VmName}} (build {{systemInformation.VmVersion}})</td>
                </tr>
                <tr>
                    <td>Number of Processors</td>
                    <td>{{operatingSystem.AvailableProcessors}}</td>
                </tr>
                <tr>
                    <td>Total Memory</td>
                    <td>{{totalMemory}}</td>
                </tr>
                <tr>
                    <td>Used Memory</td>
                    <td>{{usedMemory}}</td>
                </tr>
                <tr>
                    <td>Free Memory</td>
                    <td>{{freeMemory}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>