{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="tabs-list">
    <div class="tabs-expanded">
        {{#each tabs}}
            {{#unless this.filter}}
            <div class="tabs-tab is-button" data-id="{{@key}}">
                <div class="tabs-tab-container">
                {{#if this.color}}
                    <span class="results-tabs-tab" style="background: {{this.color}}" title="{{this.tooltip}}">
                    </span>
                {{else}}
                    {{@key}}
                {{/if}}
                </div>
            </div>
            {{/unless}}
        {{/each}}
        <div class="tabs-dropdown is-button">
            <div class="tabs-tab-container">
            {{#each tabs}}
                {{#unless this.filter}}
                <span class="results-tabs-tab tabs-title" data-id="{{@key}}" style="background: {{this.color}}" data-popover-title="{{this.tooltip}}">
                    {{#unless this.color}}
                        {{@key}}
                    {{/unless}}
                </span>
                {{/unless}}
            {{/each}}
            <span class="hint">More</span>
            <span class="fa fa-bars"></span>
            </div>
        </div>
    </div>
    <div class="tabs-collapsed">
        {{#each tabs}}
            {{#unless this.filter}}
            <div class="is-button" data-id="{{@key}}"">
                <span class="results-tabs-tab" style="background: {{this.color}}" title="{{this.tooltip}}">
                    {{#unless this.color}}
                        {{@key}}
                    {{/unless}}
                </span>
            </div>
            {{/unless}}
        {{/each}}
    </div>
</div>
<div class="tabs-content">

</div>
