{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}

<div id="{{appId}}-card" class="app-card panel">
    <div class="panel-body">
        <!-- card overlay buttons -->

            <div class="card-overlay bottom show-in-edit-mode action-button-group">
                <div class="block">
                    <div class="centered">
                    {{#if isDisabled}}
                        <span class="fa-stack disabled" data-toggle="modal" title="Cannot be Deactivated">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-pause fa-stack-1x"></i>
                        </span>
                        <div class="divider"></div>
                        <span class="fa-stack pointer update-application-button" href="#{{appId}}-updateModal" data-toggle="modal" title="Upgrade this application">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                        </span>
                    {{else}}
                        {{#is state 'ACTIVE'}}
                            <span class="fa-stack pointer" href="#{{appId}}-stopModal" data-toggle="modal" title="Deactivate this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-pause fa-stack-1x"></i>
                            </span>
                            <div class="divider"></div>
                            <span class="fa-stack pointer update-application-button" href="#{{appId}}-updateModal" data-toggle="modal" title="Upgrade this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                            </span>
                        {{/is}}
                        {{#is state 'INACTIVE'}}
                            <span class="fa-stack pointer" href="#{{appId}}-startModal" data-toggle="modal" title="Activate this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="divider"></div>
                            <span class="fa-stack pointer update-application-button" href="#{{appId}}-updateModal" data-toggle="modal" title="Upgrade this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="divider"></div>
                            <span class="fa-stack pointer" href="#{{appId}}-removeModal" data-toggle="modal" title="Remove this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        {{/is}}
                        {{#is state 'FAILED'}}
                            <span class="fa-stack pointer" href="#{{appId}}-startModal" data-toggle="modal" title="Active this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="divider"></div>
                            <span class="fa-stack pointer update-application-button" href="#{{appId}}-updateModal" data-toggle="modal" title="Upgrade this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-upload fa-stack-1x fa-inverse"></i>
                            </span>
                            <div class="divider"></div>
                            <span class="fa-stack pointer" href="#{{appId}}-removeModal" data-toggle="modal" title="Remove this application">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                        {{/is}}
                    {{/if}}
                    </div>
                </div>
            </div>


        <div class="card-overlay select-button-group hide-in-edit-mode">
            <div class="block">
                <div class="centered">
                    <i class="fa fa-angle-right fa-4x select-application"></i>
                </div>
            </div>
        </div>

        <!-- card contents -->
        <div class="name-version-container">
            <div class="name">
                <span>{{displayName}}</span>
            </div>
            <div class="version">
                <i class="fa fa-code-fork fa-lg vertical-align-middle"></i>
                <span class="vertical-align-middle">{{version}}</span>
            </div>
        </div>
        <hr class="list-hidden"/>
        <div class="description ellipsis">
            <div>
                {{#if paragraphs}}
                    {{#join paragraphs "<br/>"}}
                        <span>{{.}}</span>
                    {{/join}}
                {{else}}
                    {{#if description}}
                        <span>{{description}}</span>
                    {{else}}
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div id="{{appId}}-stopModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Stop Application - {{displayName}}</h4>
                </div>
                <div class="modal-body">
                    {{#if dependencies}}
                        Stop {{displayName}} will also stop the following apps:<br><br>
                        {{#join dependencies "<br/>"}}
                            {{this}}<br>
                        {{/join}}
                        <br>Do you want to stop all the apps listed above?<br>
                    {{else}}
                        Stop {{displayName}}?<br>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary stopAppConfirm" data-dismiss="modal" aria-hidden="true">Confirm</button>
                        <button type="button" class="btn btn-default stopAppCancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="{{appId}}-startModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Start Application - {{displayName}}</h4>
                </div>
                <div class="modal-body">
                    {{#if parents}}
                        Start {{displayName}} will also start the following apps:<br><br>
                        {{#join parents "<br/>"}}
                            {{this}}<br>
                        {{/join}}
                        <br>Do you want to start all the apps listed above?<br>
                    {{else}}
                        Start {{displayName}}?<br>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary startAppConfirm" data-dismiss="modal" aria-hidden="true">Confirm</button>
                        <button type="button" class="btn btn-default startAppCancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="{{appId}}-removeModal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Remove Application - {{displayName}}</h4>
                </div>
                <div class="modal-body">
                    {{#if dependencies}}
                        Removing {{displayName}} will also remove the following apps:<br><br>
                        {{#join dependencies "<br/>"}}
                            {{this}}<br>
                        {{/join}}
                            <br>Do you want to remove all the apps listed above?<br>
                    {{else}}
                            Remove {{displayName}}?<br>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary removeAppConfirm" data-dismiss="modal" aria-hidden="true">Confirm</button>
                        <button type="button" class="btn btn-default removeAppCancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-region"></div>
</div>
