{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="metacard-nav holder-row">
    <a id="prevRecord" target='blank' title="Previous"><i class='fa fa-chevron-circle-up fa-3x' /></a>
    <a id="nextRecord" target='blank' title="Next"><i class='fa fa-chevron-circle-down fa-3x' /></a>
</div>

<div class="panel-primary">

    <div class="metacard-details">
        <ul class="nav nav-tabs" id="myTab">
            <li {{#if hash}} {{#is hash "#summary"}} class="active" {{/is}} {{else}} class="active" {{/if}}>
                <a href="#summary" data-toggle="tab">Summary</a>
            </li>
            <li {{#is hash "#full"}} class="active" {{/is}}>
                <a href="#full" data-toggle="tab">Details</a>
            </li>
        </ul>


        <div class="tab-content">
            <div class="tab-pane  {{#if hash}} {{#is hash "#summary"}} active {{/is}} {{else}} active {{/if}}" id="summary">
                <div title="Thumbnail">
                    <h4 class="title" title="Title">
                        {{#if properties.title}}
                            {{properties.title}}
                        {{else}}
                            [No Title]
                        {{/if}}
                    </h4>
                    <hr/>

                    <div class="col-sm-5">
                        <ul class="list-group">
                            <li class="attribute" title="Source">
                                <span class="attribute-label muted"><i class="fa fa-sitemap fa-2x"></i> </span>
                                <span class="attribute-value">{{properties.source-id}}</span>
                            </li>

                            {{#isNotBlank properties.created}}
                            <li class="attribute" title="Created Date">
                                <span class="attribute-label muted">
                                    <span class="fa-stack">
                                      <i class="fa fa-file-o fa-stack-2x"></i>
                                      <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="attribute-value">{{momentHelp properties.created fromNow=function}}</span>
                            </li>
                            {{/isNotBlank}}
                        </ul>
                    </div>
                    <div class="col-sm-5 pull-right">
                        <ul class="list-group">
                            {{#isNotBlank properties.modified}}
                            <li class="attribute" title="Modified Date">
                                <span class="attribute-label muted">
                                    <span class="fa-stack">
                                      <i class="fa fa-file-o fa-stack-2x"></i>
                                      <i class="fa fa-asterisk fa-stack-1x fa-inverse"></i>
                                    </span>
                                </span>
                                <span class="attribute-value">{{momentHelp properties.modified fromNow=function}}</span>
                            </li>
                            {{/isNotBlank}}

                            {{#isNotBlank geometry}}
                            <li class="attribute" title="Location">
                                <span class="attribute-label muted"><i class='fa fa-compass fa-2x'></i></span>
                                <span class="attribute-value">{{#if mapAvailable}}<a href="#" class="location-link">Locate</a>{{else}}<a href="/services/catalog/sources/{{properties.source-id}}/{{properties.id}}?transform=kml" target="_blank">KML</a>{{/if}}</span>
                            </li>
                            {{/isNotBlank}}
                        </ul>
                    </div>

                    {{#if properties.thumbnail}}
                        <div class="holder-row">
                            <a href="/services/catalog/sources/{{properties.source-id}}/{{properties.id}}?transform=thumbnail" target="_blank"><img class='thumbnail' alt='{{properties.title}}' src='data:image/jpeg;charset=utf-8;base64, {{properties.thumbnail}}' /> </a>
                        </div>
                    {{/if}}

                    {{#if properties.resource-uri}}
                    <div class="holder-row text-center">
                        <a target='blank' title="Download Product"
                           href='/services/catalog/sources/{{properties.source-id}}/{{properties.id}}?transform=resource&session={{clientId}}'>
                            <i class='fa fa-download fa-2x metacard-action'></i>
                            <p> {{fileSize properties.resource-size}}</p></a>
                    </div>
                    {{/if}}

                </div>
            </div>
            <div class="tab-pane vertical-scroll table-pane {{#is hash "#full"}} active{{/is}}" id="full">
                <table class="table table-striped metacard-table">
                    <thead>
                        <tr>
                            <th class="property-col">Property</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {{#each properties}}
                        {{#isnt @key 'metadata'}}
                        <tr>
                            <td>{{propertyTitle @key}}</td>
                            {{#is @key 'thumbnail'}}
                            <td><img class='thumbnail pull-left' alt='Thumbnail' src='data:image/jpeg;charset=utf-8;base64, {{this}}' /></td>
                            {{else}}
                                {{#is @key 'resource-size'}}
                                    <td>{{fileSize this}}</td>
                                {{else}}
                                    {{#isUrl this}}
                                    <td>
                                        <a target='blank' title="{{propertyTitle @key}}" href='{{safeString this}}'>{{safeString this}}</a>
                                    </td>
                                    {{else}}
                                    <td>{{safeString this}}</td>
                                    {{/isUrl}}
                                {{/is}}
                            {{/is}}
                        </tr>
                        {{/isnt}}
                    {{/each}}
                    {{#if properties.metadata}}
                        <tr>
                            <td>Metadata</td>
                            <td>
                                <a target='blank' title="Download Product"
                                   href='/services/catalog/sources/{{properties.source-id}}/{{properties.id}}?transform=metadata'>
                                    View</a>
                            </td>
                        </tr>
                    {{/if}}
                    {{#if mappedType}}
                        <tr>
                            <td>Content Type</td>
                            <td>
                                {{safeString mappedType}}
                            </td>
                        </tr>
                    {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

