{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="form-group">
    <div class="row">
        <div class="col-md-5">
            <div class="input-group btn-group item">
                <label for="{{key}}" class="input-group-addon property-label">
                    {{title}}
                </label>

                {{#unless options.length}}
                    <input type="text" class="form-control" id={{key}} name="value" placeholder="{{#defaultValue}}{{.}}{{/defaultValue}}" value="{{#value}}{{.}}{{/value}}">
                {{else}}
                    <select id="{{key}}" name="value" class="form-control">
                        {{#each options}}
                            <option value="{{lookup ../options @index}}" >{{.}}</option>
                        {{/each}}
                    </select>
                {{/unless}}

            </div>
            {{#if errorMessage}}
                <span class="error-text">{{errorMessage}}</span>
            {{/if}}
        </div>

        <div class="col-md-7">
            <span class="description">{{shortDescription}}</span>
            {{#if description}}
                <a href='#' tabindex="-1" data-toggle="{{key}}-popover">
                    <i class="fa fa-question-circle fa-lg"></i>
                </a>
            {{/if}}
        </div>

    </div>

</div>