{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h6 align="center">My Workspaces</h6>

<div class="workspace clearfix">
    <div class="workspace-title">
        Title
    </div>
    <div class="workspace-source">
        Source
    </div>
    <div class="workspace-shared">
        Shared With
    </div>
</div>
<div class="workspaces-list is-list">
    {{#each workspaces}}
        <div class="workspace clearfix is-button" data-id="{{id}}">
            <div class="workspace-title" title="Workspace Name">
                {{name}}
            </div>
            <div class="workspace-source">
                {{#if local}}
                    <span class="fa fa-home" title="Local Workspace"></span>
                {{else}}
                    <span class="fa fa-cloud" title="Remote Workspace"></span>
                {{/if}}
                {{source}}
            </div>
            <div class="workspace-shared" title="Permissions for Workspace">
                {{#each sharedWith}}
                    <span class="workspace-shared-group">
                        {{this}}
                    </span>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
<button class="workspaces-add is-primary">
    <span class="fa fa-plus"></span>
    Create Workspace
</button>