{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<h6>
    {{splitDashes fieldName}}
    <div class="pull-right margin-right-6">
        <div class="btn-group facet-selector-toggle" role="group" aria-label="...">
    {{#is isAny true}}
        {{#is state 'any'}}
            <button type="button" class="btn btn-default btn-xs active any toggle-button">Any</button>
            <button type="button" class="btn btn-default btn-xs specific toggle-button">Specific</button>
        {{else}}
            <button type="button" class="btn btn-default btn-xs any toggle-button">Any</button>
            <button type="button" class="btn btn-default btn-xs active specific toggle-button">Specific</button>
        {{/is}}
    {{else}}
        <button type="button" class="btn btn-default btn-xs any any-button">Any</button>
        <button type="button" class="btn btn-default active btn-xs specific">Specific</button>
    {{/is}}
        </div>
    </div>
</h6>

<table class="table table-striped resultTable vertical-shrink-rows no-margin-bottom facet-values">
    <tbody role="{{state}}">
    {{#each values}}
        <tr>
            <td>
                <div class="pull-left margin-right-6">
                    <input class="{{#is isInFilter true}} remove-facet {{else}} add-facet {{/is}}" type="checkbox"
                        {{#is isInFilter true}} checked="checked" {{/is}} data-field-value="{{value}}" data-value-count="{{count}}" data-field-name="{{../fieldName}}"/>
                </div>

                <div class="pull-left" title="{{value}}">
                    {{#is value "no-value"}}
                        (no value)
                    {{else}}
                        {{value}}
                    {{/is}}
                </div>
                <div class="field-value pull-right margin-left-3 focus-facet" data-field-value="{{value}}" data-value-count="{{count}}" data-field-name="{{../fieldName}}"><a href="#">({{count}})</a></div>
            </td>
        </tr>
    {{/each}}
    {{#is values.length 0}}
        <tr>
            <td class="text-center">
                <div class="pull-right">No Matches</div>
            </td>
        </tr>
    {{/is}}
    </tbody>
</table>



