{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="col-md-3">{{title}}</div>
<div class="col-md-3">{{editedBy}}</div>
<div class="col-md-3">{{momentHelp deleted fromNow=function}}</div>
{{#if message}}
    <div class="col-md-3">
        <div class="{{messageClass}} full-width message">{{message}}</div>
    </div>
{{else}}
    <div class="col-md-3">
        <button class="is-primary full-width restore">Restore</button>
    </div>
{{/if}}
