{{!--
/**
 * Copyright (c) Codice Foundation
 *
 * This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser General Public License as published by the Free Software Foundation, either
 * version 3 of the License, or any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Lesser General Public License for more details. A copy of the GNU Lesser General Public License is distributed along with this program and can be found at
 * <http://www.gnu.org/licenses/lgpl.html>.
 *
 **/
 --}}
<div class="result-container {{#if hasError}}has-validation-issues{{/if}} {{#if hasWarning}}has-validation-issues{{/if}}" data-metacard-id="{{id}}" data-index="{{index}}"
     data-query-id="{{metacard.queryId}}">
    <div class="container-indicator">
    </div>
    <div class="container-content">
        <div class="content-header">
            <span class="header-icon fa fa-history" title="Type: Revision" data-help="Indicates the type of result
            (workspace, resource, history, deleted)"></span>
            <span class="header-icon fa fa-book" title="Type: Workspace" data-help="Indicates the type of result
            (workspace, resource, history, deleted)"></span>
            <span class="header-icon fa fa-file" title="Type: Resource" data-help="Indicates the type of result
            (workspace, resource, history, deleted)"></span>
            <span class="header-icon fa fa-trash" title="Type: Deleted" data-help="Indicates the type of result
            (workspace, resource, history, deleted)"></span>

            <span class="header-icon result-icon {{icon}}" title="Type: Resource" data-help="Indicates the type of result
            (workspace, resource, history, deleted)"></span>
            <span class="header-title" data-help="{{getAlias 'title'}}" title="{{getAlias 'title'}}: {{metacard.properties.title}}">
                {{metacard.properties.title}}
            </span>
        </div>
        <div class="content-body">
            {{#if metacard.properties.thumbnail}}
                <div class="detail-thumbnail details-property" data-help="{{getAlias 'thumbnail'}}">
                    <img src="{{getImageSrc metacard.properties.thumbnail}}">
                </div>
            {{/if}}
            {{#each customDetail}}
                <div class="detail-custom details-property" data-help="{{getAlias this.label}}" title="{{getAlias this.label}}: {{this.value}}">
                    <span>
                    {{this.value}}
                    </span>
                </div>
            {{/each}}
            {{#if showRelevanceScore}}
                <div class="detail-custom details-property" data-help="Relevance: {{relevance}}" title="Relevance: {{relevance}}">
                    <span>
                    {{roundedRelevance}}
                    </span>
                </div>
            {{/if}}
            {{#if showSource}}
                <div class="detail-source details-property" title="{{getAlias 'source'}}: {{metacard.properties.source-id}}" data-help="{{getAlias 'source'}}">
                    {{#if local}}
                        <span class="fa source-icon fa-home">
                        </span>
                        <span>local</span>
                    {{else}}
                        <span class="fa source-icon fa-cloud">
                        </span>
                        <span>
                            {{metacard.properties.source-id}}
                        </span>
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="content-footer">
            <div class="result-validation">
                {{#if hasError}}
                    <span class="fa fa-exclamation-triangle resultError" title="Has validation errors." data-help="Indicates the given result has a validation error.
                    See the 'Quality' tab of the result for more details.">
                    </span>
                {{else if hasWarning}}
                    <span class="fa fa-exclamation-triangle resultWarning" title="Has validation warnings." data-help="Indicates the given result has a validation warning.
                    See the 'Quality' tab of the result for more details.">
                    </span>
                {{/if}}
            </div>
            <button class="result-download fa fa-download is-button is-neutral" title="Downloads the results associated product directly to your machine." data-help="Downloads
            the results associated product directly to your machine.">
            </button>
            <button class="result-save fa fa-star-o is-button is-neutral" title="Adds the result to your saved items." data-help="Adds the
            result to your saved items.">
            </button>
            <button class="result-unsave fa fa-star is-button is-neutral" title="Removes the result from your saved items." data-help="Removes the
            result from your saved items.">
            </button>
            <div class="result-actions is-button" title="Provides a list of actions to take on the result." data-help="Provides a list
            of actions to take on the result.">
        </div>
    </div>
</div>
